<footer id="footer" class="container-fluid bg-dark">
    <div class="text-center">
            <div class="main_footer text-center p-top-40 p-bottom-30">
                <div class="text-black-50">
                    <p class="wow fadeInRight" data-wow-duration="1s">
                    Wild Ciné
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img class='logo' src="{{ asset('build/images/logowildcine4.png') }}" alt="Logo Wild">
                    </a>
                        Made
                        <i class="fa fa-heart"></i>
                        by
                        <a target="_blank" href="https://github.com/Florencelg/WildCine_Projet4">Florence GAUTIER</a>
                        2019. All Rights Reserved
                    </p>
                </div>
            </div>
    </div>
</footer>