<div class="pos-f-p">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <div class="text-white"> Wild Ciné
                <a class="navbar-brand" href="#">
                    <img class='logo' src="{{ asset('build/images/logowildcine4.png') }}" alt="Logo Wild">
                </a>
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Artistes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Réalisateurs</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a><img class='user' src="{{ asset('build/images/user.png') }}" alt="userLogin"></a>
    </nav>
</div>
